// Colors
$clr-1: #ffffff;
$clr-2: #f8f8ff;
$clr-3: #f3f3ff;
$clr-4: #d9dbe9;
$clr-5: #0058b9;
$clr-5-hover: rgba(0, 88, 185, 0.8);
$clr-6: #5a5a89;
$clr-7: #262146;
$clr-8: #14142b;

$app-header-height: em(74px);
