// List
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > li {
    margin: 0;
    padding: 0;
  }
}

// Positionin
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.auto-center {
    justify-content: center;
    align-items: center;
  }

  &.gap-6 {
    gap: 6px;
  }

  > *.full-grow {
    flex: 1;
  }
}

.grid {
  display: grid;

  &.column {
    grid-auto-flow: column;
  }

  &.justify-center {
    justify-items: center;
  }

  &.align-center {
    align-content: center;
  }
}

// buttons

.btn-primary {
  display: flex;
  gap: 8px;
  align-items: center;
  height: em(36px, 14px);
  padding: 0px em(20px, 14px);
  border-radius: 100px;
  background-color: $clr-5;
  color: $clr-1;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: $clr-5-hover;
  }
}
